@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --btn-submit: #151b54;
}

@layer base {
  .btn__submit {
    background: var(--btn-submit);
    box-shadow: #000 4px 4px 0px 0px;
    border: 1px solid #000;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .btn__submit:hover {
    box-shadow: none;
  }
}
